<!-- Backlog column --> 
<div class="status-column">
    <b>Backlog</b>
    <ul id="backlog" class="unstyled dnd-column" ng-class="{'minimal-list': backlogEmpty()}" dnd-backlog>
        <li ng-repeat="task in backlog" class="status-item">
            <span class="pull-right">
                <button class="btn" ng-click="openViewModal(task)">View</button>
                <button class="btn" ng-click="openEditModal(task)">Edit</button>
                <button class="btn" ng-click="delButton(task)">Delete</button>
            </span>
            <p>{{task.title}}</p>
            <p>{{task.description | truncate:30}}</p>
            <p>Assigned To: {{task.assignedTo | prettifyAssigned}}</p>
        </li>
    </ul>
</div>

<!-- In Progress column --> 
<div class="status-column">
    <b>In Progress</b>
    <ul id="inProgress" class="unstyled dnd-column" ng-class="{'minimal-list': backlogEmpty()}" dnd-in-progess>
        <li ng-repeat="task in inProgress" class="status-item">
            <span class="pull-right">
                <button class="btn" ng-click="openViewModal(task)">View</button>
                <button class="btn" ng-click="openEditModal(task)">Edit</button>
                <button class="btn" ng-click="delButton(task)">Delete</button>
            </span>
            <p>{{task.title}}</p>
            <p>{{task.description | truncate:30}}</p>
            <p>Assigned To: {{task.assignedTo | prettifyAssigned}}</p>
        </li>
    </ul>
</div>

<!-- Complete column --> 
<div class="status-column">
    <b>Complete</b>
    <ul id="complete" class="unstyled dnd-column" ng-class="{'minimal-list': backlogEmpty()}" dnd-complete>
        <li ng-repeat="task in complete" class="status-item">
            <span class="pull-right">
                <button class="btn" ng-click="openViewModal(task)">View</button>
                <button class="btn" ng-click="openEditModal(task)">Edit</button>
                <button class="btn" ng-click="delButton(task)">Delete</button>
            </span>
            <p>{{task.title}}</p>
            <p>{{task.description | truncate:30}}</p>
            <p>Assigned To: {{task.assignedTo | prettifyAssigned}}</p>
        </li>
    </ul>
</div>

<!-- Edit Task Modal -->
<div modal="editTask" close="closeEditModal()" id="edit-modal" ng-controller="editCtrl">
    <div class="modal-header">
        <button class="btn btn-primary pull-right" data-dismiss="modal">
            <i class="icon-remove"></i>
        </button>
        <h4>Edit Task</h4>
    </div>
    <div class="modal-body">
        <input ng-model="title" type="text" placeholder="Title" required />
        <textarea ng-model="description" rows="5" cols="50" placeholder="Description"></textarea>
        <select ng-model="managerSelect" multiple="multiple" size="5">
            <option ng-repeat="manager in managers">{{manager}}</option>
        </select>
        <select ng-model="workerSelect" multiple="multiple" size=5>
            <option ng-repeat="worker in workers">{{worker}}</option>
        </select>
        <select ng-model="status">
            <option value="backlog">Backlog</option>
            <option value="inProgress">In Progress</option>
            <option value="complete">Complete</option>
        </select>
    </div>
    <div class="modal-footer">
        <button ng-click="save()" class="btn btn-primary">Save</button>
        <button ng-click="closeEditModal()" class="btn btn-primary">Close</button>
    </div>
</div>

<!-- view Task Modal -->
<div modal="viewTask" close="closeViewModal()" id="task-view-modal" ng-controller="viewTaskCtrl">
    
    <div class="modal-header">
        <h4>{{title}}</h4>
    </div>
    <div class="modal-body">
        <p>{{description}}</p>
        <p>Assigned To: {{assignedTo | prettifyAssigned}}</p>
        <p>Status: {{status}}</p>
    </div>
    <div class="modal-footer">
        <button ng-click="closeViewModal()" class="btn btn-primary">Close</button>
    </div>
    
</div>
